repo_url: https://feeluown.github.io/FuoEvolve/fdroid/repo
repo_name: FuoEvolve
repo_description: >-
  Official self-hosted F-Droid repository for FuoEvolve Android releases.
repo_icon: icon.png
repo_keyalias:
  env: FUO_SIGNING_KEY_ALIAS
repo_key_sha256: 8D8BE45A04CF3242C13B43361C9FFA1CA8FB2F39D1A43CE35BEADFA8DBFEFB74
keystore: fuo-evolve.jks
keystorepass:
  env: FUO_SIGNING_STORE_PASSWORD
keypass:
  env: FUO_SIGNING_KEY_PASSWORD
make_current_version_link: false
